Develop code to parse the WNBA data.

In [1]:
import pandas as pd

In [2]:
def load_wnba_xlsx(path,name):
    df = pd.read_excel(path)

    df.drop(df.tail(1).index,inplace=True)
    df.insert(0,'Player',name)

    return df

def compute_epg(df):

    # efficiency
    df['EFF'] = df['PTS'] + df['REB'] + df['AST'] + df['STL'] + df['BLK'] - (df['FGA'] - df['FGM']) - (df['3PA'] - df['3PM'])  - (df['FTA'] - df['FTM']) - df['TO']

    # efficiency per game
    df['EPG'] = df['EFF'] / df['G']

    return df

In [6]:
dWNBA = load_wnba_xlsx("..\\data\\wnba\\alanna_smith.xlsx","Alanna Smith")
dtmp = load_wnba_xlsx("..\\data\\wnba\\rebecca_allen.xlsx","Rebecca Allen")

dWNBA = dWNBA.append(dtmp)

In [7]:
# map WNBA to WNBL columns
column_mappings = {"FT":"FTM","FG":"FGM","3P":"3PM","2P":"2PM","ORB":"OFF","DRB":"DEF","TRB":"REB","TOV":"TO"}
dWNBA.rename(columns=column_mappings,inplace=True)

In [9]:
# multiply stats per game by number of games (inlcuding percentages, for the moment)
dtmp = dWNBA.copy()
dWNBA.iloc[:,6:] = dWNBA.iloc[:,6:].mul(dWNBA["G"],axis=0).round(0)

In [11]:
# put back the original (correct) percentages from our previous copy
dWNBA[["FG%","FT%","2P%","3P%"]] = dtmp[["FG%","FT%","2P%","3P%"]]

In [62]:
# compute the efficiency per game
dWNBA = compute_epg(dWNBA)

,Player,Year,Team,Age,G,GS,MP,FGM,FGA,FG%,...,DEF,REB,AST,STL,BLK,TO,PF,PTS,EFF,EPG
0,Alanna Smith,2019,PHO,22.0,18,0,133.0,7.0,41.0,0.195,...,23.0,34.0,4.0,5.0,5.0,7.0,18.0,20.0,11.0,0.611111
1,Alanna Smith,2020,PHO,23.0,19,0,296.0,44.0,103.0,0.422,...,48.0,68.0,23.0,6.0,15.0,17.0,48.0,116.0,111.0,5.842105
2,Alanna Smith,2021,PHO,24.0,10,0,74.0,5.0,25.0,0.200,...,12.0,15.0,5.0,4.0,3.0,2.0,7.0,13.0,4.0,0.400000

At this point, we have all the information required but it is not ordered the same as the wnbl data.

The order should not matter as we will select a subset of columns to plot.